<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ks.anndroidmina"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 设置允许改变配置信息的权限 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name="ks.mina.activity.application.KsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize" >
        <activity
            android:name="ks.mina.activitys.Main_Control"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ks.mina.activitys.Surface_view"
            android:label="@string/title_activity_surface_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ks.mina.activitys.LogInActivity"
            android:label="@string/login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ks.mina.activitys.EnterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ks.mina.activitys.vlc.VLCplan2Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ks.mina.activitys.vlc.VLCVideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="ks.mina.activitys.BlueToothOperate"
            android:label="@string/title_activity_blue_tooth_operate" >
        </activity>
       
    </application>

</manifest><!--
  android:windowSoftInputMode="adjustResize"  
  自动改变输入法覆盖位置，是的被输入文本框不被覆盖
-->


